
<h1>
<p><strong>Name:</p></strong> <%=@user.name%></br>
<p><strong>Mood:</p></strong> <%=@user.mood%></br>
<p><strong>Tickets:</p></strong> <%=@user.tickets%></br> 
<p><strong>Height:</p></strong> <%=@user.height%></br> 
<p><strong><%=@message%></br>
</hl> 


<% if @user.admin == true %> 
<%= "ADMIN" %>
<%end%>

<%= link_to "See attractions", attractions_path, method: :get %>

<%= link_to "Log Out", user_delete_path(@user), method: :post %>
